<!-- <p [innerText]="allowNewServer"></p>
<br />
{{ status }}
<input type="text" class="form-control" (input)="onUpdateServerName($event)" > -->
<!-- <input type="text" class="form-control" [(ngModel)]="serverName" /> -->
<!-- {{ serverName }} -->
<!-- <hr /> -->
<!-- <button -->
<!-- class="btn btn-primary" -->
<!-- [disabled]="!allowNewServer" -->
<!-- (click)="onChangeStatus()" -->
<!-- > -->
<!-- Click me -->
<!-- </button> -->
<!-- <hr /> -->
<!-- <hr />

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
        placeholder="Name"
      />
      <p>{{ username }}</p>
      <button class="btn btn-success" [disabled]="username.length ===0 "> -->
<!-- <button
        class="btn btn-success"
        [disabled]="username === ''"
        (click)="username = ''"
      >
        Reset User
      </button>
    </div>
  </div>
</div> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
